<table class="table is-striped">
  <thead>
    <tr>
      <th class="sticky-header">
        <div class="header">
          Header
        </div>
      </th>
      <th class="sticky-header">
        <div class="header">
          Header
        </div>
      </th>
      <th class="sticky-header">
        <div class="header">
          Header
        </div>
      </th>
      <th class="sticky-header">
        <div class="header">
          Header
        </div>
      </th>
      <th class="sticky-header">
        <div class="header">
          Header
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let count of rowsCount">
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
      <td>Text</td>
    </tr>
  </tbody>
</table>
